In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('Data Viz Dataset - Sheet1.csv')

In [48]:
df.head(155)

,College,Flutter (skill out of 5),Flask (skill out of 5),Firebase (skill out of 5),GCP (skill out of 5),AWS (skill out of 5),Predictive Modelling (skill out of 5),EDA (skill out of 5),NLP (skill out of 5)
0,JDIET,2.0,4.0,4.0,1.0,1.0,1.0,1.0,4.0
1,Indian Institute of Information Technology Des...,4.0,1.0,1.0,3.0,1.0,4.0,5.0,4.0
2,Manipal Institute of technology,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0
3,Delhi Technological Univeesity,NaN,4.0,NaN,NaN,NaN,NaN,3.0,NaN
4,Jabalpur Engineering College,2.0,2.0,4.0,4.0,1.0,4.0,4.0,4.0
...,...,...,...,...,...,...,...,...,...
150,The LNM Institute of Information Technology,2.0,2.0,2.0,2.0,2.0,3.0,3.0,2.0
151,pandit deendayal petroleum university,3.0,4.0,4.0,2.0,1.0,4.0,5.0,5.0
152,MEC,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
153,Lal Bahadur Shastri Institute of Management,4.0,3.0,4.0,3.0,3.0,4.0,4.0,3.0
154,Bms institute of technology,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 9 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   College                                155 non-null    object
 1   Flutter (skill out of 5)               138 non-null    float64
 2   Flask (skill out of 5)                 136 non-null    float64
 3   Firebase (skill out of 5)              138 non-null    float64
 4   GCP (skill out of 5)                   132 non-null    float64
 5   AWS (skill out of 5)                   130 non-null    float64
 6   Predictive Modelling (skill out of 5)  144 non-null    float64
 7   EDA (skill out of 5)                   144 non-null    float64
 8   NLP (skill out of 5)                   135 non-null    float64
dtypes: float64(8), object(1)
memory usage: 11.0+ KB

In [50]:
df.shape

(155, 9)

In [51]:
df.shape[0]

155

In [52]:
df.count(axis = 1)

0      9
1      9
2      9
3      3
4      9
      ..
150    9
151    9
152    9
153    9
154    9
Length: 155, dtype: int64

In [53]:
ans = max(df.shape[1] - df.count(axis = 1))

In [54]:
ans

8

In [55]:
new_df = df.ix[df.index[(df.T == np.nan).sum() > 1]]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [61]:
mask = False
for col in df.columns: 
    mask = mask | df[col].isnull()
dfnulls = df[mask]

In [71]:
dfnulls.iterrows.info()

AttributeError: 'function' object has no attribute 'info'

In [64]:
(dfnulls.isnull()).sum()>7

College                                  False
Flutter (skill out of 5)                  True
Flask (skill out of 5)                    True
Firebase (skill out of 5)                 True
GCP (skill out of 5)                      True
AWS (skill out of 5)                      True
Predictive Modelling (skill out of 5)     True
EDA (skill out of 5)                      True
NLP (skill out of 5)                      True
dtype: bool

In [58]:
dfnulls.head(10)

,College,Flutter (skill out of 5),Flask (skill out of 5),Firebase (skill out of 5),GCP (skill out of 5),AWS (skill out of 5),Predictive Modelling (skill out of 5),EDA (skill out of 5),NLP (skill out of 5)
3,Delhi Technological Univeesity,NaN,4.0,NaN,NaN,NaN,NaN,3.0,NaN
6,Govt. College of engineering and technology bi...,1.0,5.0,NaN,NaN,NaN,2.0,2.0,2.0
11,Vasavi College of Engineering,3.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN
13,Vasavi college of engineering,2.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN
15,Vasavi college of engineering,3.0,NaN,2.0,1.0,NaN,2.0,1.0,NaN
17,Vasavi College of Engineering,3.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN
18,Karunya University,NaN,NaN,NaN,NaN,NaN,5.0,5.0,4.0
20,Vasavi College of Engineering,3.0,NaN,2.0,1.0,NaN,NaN,NaN,NaN
27,Bhagwan Parshuram Institute of Technology,NaN,3.0,2.0,NaN,2.0,4.0,5.0,4.0
35,IGDTUW,NaN,1.0,NaN,NaN,NaN,3.0,3.0,NaN

In [ ]:
df.apply(lambda row: row.fillna(1), axis=1)